[submodule "bundle/vim-mxml"]
	path = bundle/vim-mxml
	url = git://github.com/evandrewry/vim-mxml.git
[submodule "bundle/vim-x10"]
	path = bundle/vim-x10
	url = git://github.com/evandrewry/vim-x10.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-actionscript"]
	path = bundle/vim-actionscript
	url = git://github.com/jeroenbourgois/vim-actionscript.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-gummybears-colorscheme"]
	path = bundle/vim-gummybears-colorscheme
	url = git://github.com/jelera/vim-gummybears-colorscheme.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
